<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.rounding.Mapper">
    <resultMap type="hashmap" id="messageMap">
        <id     column="id"         property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name"  property="lastName"/>
        <result column="balance"    property="balance"/>
    </resultMap>

    <select id="selectCustomers" resultMap="messageMap">
        SELECT * FROM camel.customers ORDER BY id limit 20;
    </select>

    <select id="selectSingleCustomer" parameterType="hashmap" resultMap="messageMap">
        SELECT * FROM camel.customers WHERE id = #{id} limit 1;
    </select>

    <select id="selectLastCustomer" parameterType="hashmap" resultMap="messageMap">
        SELECT * FROM camel.customers ORDER BY id DESC limit 1;
    </select>

    <update id="updateCustomer" parameterType="hashmap">
        UPDATE
            camel.customers
        SET
            first_name = #{firstName},
            last_name = #{lastName},
            balance = #{balance}
        WHERE
            id = #{id};
    </update>

    <insert id="insertCustomer" parameterType="hashmap">
        INSERT INTO camel.customers
            (first_name, last_name, balance)
        VALUES
            (#{firstName}, #{lastName}, #{balance});
    </insert>
</mapper>

<!--
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.ibatis.submitted.rounding.Mapper">
    <resultMap type="org.apache.ibatis.submitted.rounding.User" id="usermap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="funkyNumber" property="funkyNumber"/>
        <result column="roundingMode" property="roundingMode"/>
    </resultMap>

    <select id="getUser" resultMap="usermap">
        select * from users
    </select>
    <insert id="insert">
        insert into users (id, name, funkyNumber, roundingMode) values (
            #{id}, #{name}, #{funkyNumber}, #{roundingMode}
        )
    </insert>

    <resultMap type="org.apache.ibatis.submitted.rounding.User" id="usermap2">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="funkyNumber" property="funkyNumber"/>
        <result column="roundingMode" property="roundingMode"
         typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>
    <select id="getUser2" resultMap="usermap2">
        select * from users2
    </select>
    <insert id="insert2">
        insert into users2 (id, name, funkyNumber, roundingMode) values (
            #{id}, #{name}, #{funkyNumber}, #{roundingMode, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
        )
    </insert>

</mapper>
-->