<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caracal Demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/main.css">

    <script type="module" src="/js/components/caracal-card.js"></script>
    <script type="module" src="/js/components/caracal-input.js"></script>
    <script type="module" src="/js/components/caracal-button.js"></script>
    <script type="module" src="/js/components/caracal-checkbox.js"></script>

    <script type="module" src="/js/caracal-settings.js"></script>
    <script type="module" src="/js/mqtt-publish.js"></script>
    <script type="module" src="/js/mqtt-request-response.js"></script>
    <script type="module" src="/js/mqtt-request-response.js"></script>
    <script type="module" src="/js/http-rest.js"></script>
    <script type="module" src="/js/rest-employee.js"></script>
    <script type="module" src="/js/rest-mail.js"></script>
    <script type="module" src="/js/metrics/spring-metrics.js"></script>
    <script type="module" src="/js/metrics/metrics-info.js"></script>
</head>
<body>
<header>
    <h1 th:text="${appName}"></h1>
    <a href="#settings" class="active" data-elm="caracal-settings">Settings</a>
    |<a href="#publish" data-elm="mqtt-publish">Publish</a>
    |<a href="#req-resp" data-elm="mqtt-request-response">Request-Response</a>
    |<a href="#rest" data-elm="http-rest">Rest</a>
    |<a href="#rest-employee" data-elm="rest-employee">Rest Employee</a>
    |<a href="#rest-mail" data-elm="rest-mail">Mail</a>
    |<a href="#spring-metrics" data-elm="spring-metrics">Metrics</a>
</header>
<main>
    <div class="container">
        <caracal-settings class="action active"></caracal-settings>
    </div>
</main>
<footer>Caracal &copy;2023</footer>

<script src="js/main.js"></script>
</body>
</html>