[req]
prompt = no
distinguished_name = dn
x509_extensions = v3_req
req_extensions = v3_req


[req_distinguished_name]
countryName = Country Name (2 letter code)
countryName_default = ZA
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = Western Cape
localityName = Locality Name (eg, city)
localityName_default = Cape Town
organizationName = Organization Name (eg, company)
organizationName_default = Divigraph
commonName = Common Name (e.g. server FQDN or YOUR name)
commonName_default = Divigraph
commonName_max = 64

[dn]
C = ZA
ST = Western Cape
L = Cape Town
O = Divigraph
OU = Software
emailAddress = info@divigraph.com
CN = dev.divigraph.com

[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = dev.divigraph.com
DNS.3 = qa.divigraph.com
DNS.4 = device_api
DNS.5 = portal_api
DNS.6 = chronos_identity